h1 {
    color: brown;
    text-shadow: 0px 0px 5px yellow, 0px -5px 0px orange;
}

body {
    background-image: url('https://c4.wallpaperflare.com/wallpaper/218/588/868/photo-of-two-red-and-brown-canoe-boats-lagoa-barra-laguna-lagoa-barra-laguna-wallpaper-preview.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 200px;
    font-family: Arial, sans-serif;
    color: #333;
}

.placelist {
    font-size: large;
}

.history {
    color: aquamarine;
    font-size: x-large;
    border-style: inset;
    border-width: 5px;
}

.smiley {height: 80px; width: 80px;
        border-radius: 50%;
        }
.placeimg {
    float: right; width: 500px; height: 200px

}
